Loading in the PowUnity dataset 'tracker_data_filtered.rds' and converting it to a CSV file for easier handling in Python

In [4]:
import pyreadr as pyr



ordered_dict_df = pyr.read_r('data/raw/tracker_data_filtered.rds')
print(ordered_dict_df)
df = next(iter(ordered_dict_df.values()))
df.to_csv('data/processed/tracker_data_filtered.csv', index=False)

OrderedDict([(None,          pid       cid           timestamp   device_id  trip_id  device_group  \
0       C001    C001_1 2024-01-31 17:49:44  06-Veloci2      1.0           NaN
1       C001    C001_1 2024-01-31 17:49:45  06-Veloci2      1.0           NaN
2       C001    C001_1 2024-01-31 17:49:54  06-Veloci2      1.0           NaN
3       C001    C001_1 2024-01-31 17:49:55  06-Veloci2      1.0           NaN
4       C001    C001_1 2024-01-31 17:50:05  06-Veloci2      1.0           NaN
...      ...       ...                 ...         ...      ...           ...
452122  P666  P666_140 2023-10-03 18:26:59       ZZ-JG    140.0           NaN
452123  P666  P666_140 2023-10-03 18:27:09       ZZ-JG    140.0           NaN
452124  P666  P666_140 2023-10-03 18:27:19       ZZ-JG    140.0           NaN
452125  P666  P666_140 2023-10-03 18:27:29       ZZ-JG    140.0           NaN
452126  P666  P666_140 2023-10-03 18:27:39       ZZ-JG    140.0           NaN

         latitude  longitude  Altitude   Speed  ... copiedAttributes  \
0       52.667102  -8.576183       0.0  13.000  ...              NaN
1       52.667102  -8.576183       0.0  13.000  ...
2       52.667102  -8.576183       0.0  13.000  ...
3       52.667102  -8.576183       0.0  13.000  ...
4       52.667102  -8.576183       0.0  13.000  ...
...           ...        ...       ...     ...  ...              ...
452122  52.667725  -8.543667       0.0  24.076  ...
452123  52.667315  -8.543035       0.0  20.372  ...
452124  52.666957  -8.543150       0.0  12.964  ...
452125  52.666808  -8.543178       0.0   5.556  ...
452126  52.666808  -8.543178       0.0   0.000  ...

             hours distance_attr  distance_total alarm battery duration  \
0              NaN          0.00            0.00  True     NaN      0.0
1             1000          0.00            0.00  True   100.0      1.0
2            10000          0.00            0.00  True   100.0      9.0
3            11000          0.00            0.00  True   100.0      1.0
4            21000          0.00            0.00  True   100.0     10.0
...            ...           ...             ...   ...     ...      ...
452122  3066081000         55.02       119374.41  True   100.0     10.0
452123  3066091000         62.46       119436.87  True   100.0     10.0
452124  3066101000         40.64       119477.51  True   100.0     10.0
452125  3066111000         16.62       119494.13  True   100.0     10.0
452126  3066121000          0.00       119494.13  True   100.0     10.0

       lag_latitude  lag_longitude Speed_knots
0               NaN            NaN         NaN
1         52.667102      -8.576183         NaN
2         52.667102      -8.576183         NaN
3         52.667102      -8.576183         NaN
4         52.667102      -8.576183         NaN
...             ...            ...         ...
452122    52.668127      -8.544142        13.0
452123    52.667725      -8.543667        11.0
452124    52.667315      -8.543035         7.0
452125    52.666957      -8.543150         3.0
452126    52.666808      -8.543178         0.0

[452127 rows x 38 columns])])

Now loading in the CSV file to explore and preprocess the data

In [6]:
import pandas as pd

df = pd.read_csv('data/processed/tracker_data_filtered.csv')
df

C:\Users\manya\AppData\Local\Temp\ipykernel_36948\2151178575.py:3: DtypeWarning: Columns (20,21,22,32) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('data/processed/tracker_data_filtered.csv')

,pid,cid,timestamp,device_id,trip_id,device_group,latitude,longitude,Altitude,Speed,...,copiedAttributes,hours,distance_attr,distance_total,alarm,battery,duration,lag_latitude,lag_longitude,Speed_knots
0,C001,C001_1,2024-01-31 17:49:44,06-Veloci2,1.0,NaN,52.667102,-8.576183,0.0,13.000,...,NaN,NaN,0.00,0.00,True,NaN,0.0,NaN,NaN,NaN
1,C001,C001_1,2024-01-31 17:49:45,06-Veloci2,1.0,NaN,52.667102,-8.576183,0.0,13.000,...,NaN,1.000000e+03,0.00,0.00,True,100.0,1.0,52.667102,-8.576183,NaN
2,C001,C001_1,2024-01-31 17:49:54,06-Veloci2,1.0,NaN,52.667102,-8.576183,0.0,13.000,...,NaN,1.000000e+04,0.00,0.00,True,100.0,9.0,52.667102,-8.576183,NaN
3,C001,C001_1,2024-01-31 17:49:55,06-Veloci2,1.0,NaN,52.667102,-8.576183,0.0,13.000,...,NaN,1.100000e+04,0.00,0.00,True,100.0,1.0,52.667102,-8.576183,NaN
4,C001,C001_1,2024-01-31 17:50:05,06-Veloci2,1.0,NaN,52.667102,-8.576183,0.0,13.000,...,NaN,2.100000e+04,0.00,0.00,True,100.0,10.0,52.667102,-8.576183,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
452122,P666,P666_140,2023-10-03 18:26:59,ZZ-JG,140.0,NaN,52.667725,-8.543667,0.0,24.076,...,NaN,3.066081e+09,55.02,119374.41,True,100.0,10.0,52.668127,-8.544142,13.0
452123,P666,P666_140,2023-10-03 18:27:09,ZZ-JG,140.0,NaN,52.667315,-8.543035,0.0,20.372,...,NaN,3.066091e+09,62.46,119436.87,True,100.0,10.0,52.667725,-8.543667,11.0
452124,P666,P666_140,2023-10-03 18:27:19,ZZ-JG,140.0,NaN,52.666957,-8.543150,0.0,12.964,...,NaN,3.066101e+09,40.64,119477.51,True,100.0,10.0,52.667315,-8.543035,7.0
452125,P666,P666_140,2023-10-03 18:27:29,ZZ-JG,140.0,NaN,52.666808,-8.543178,0.0,5.556,...,NaN,3.066111e+09,16.62,119494.13,True,100.0,10.0,52.666957,-8.543150,3.0
452126,P666,P666_140,2023-10-03 18:27:39,ZZ-JG,140.0,NaN,52.666808,-8.543178,0.0,0.000,...,NaN,3.066121e+09,0.00,119494.13,True,100.0,10.0,52.666808,-8.543178,0.0

In [7]:
# Keeping only relevant columns
selected_columns = ['pid', 'cid', 'timestamp', 'device_id', 'trip_id', 
                    'latitude', 'longitude', 'Speed', 'distance', 'totalDistance', 'duration']
df_selected = df[selected_columns]
df_selected

,pid,cid,timestamp,device_id,trip_id,latitude,longitude,Speed,distance,totalDistance,duration
0,C001,C001_1,2024-01-31 17:49:44,06-Veloci2,1.0,52.667102,-8.576183,13.000,0.000000,0.00,0.0
1,C001,C001_1,2024-01-31 17:49:45,06-Veloci2,1.0,52.667102,-8.576183,13.000,0.000000,0.00,1.0
2,C001,C001_1,2024-01-31 17:49:54,06-Veloci2,1.0,52.667102,-8.576183,13.000,0.000000,0.00,9.0
3,C001,C001_1,2024-01-31 17:49:55,06-Veloci2,1.0,52.667102,-8.576183,13.000,0.000000,0.00,1.0
4,C001,C001_1,2024-01-31 17:50:05,06-Veloci2,1.0,52.667102,-8.576183,13.000,0.000000,0.00,10.0
...,...,...,...,...,...,...,...,...,...,...,...
452122,P666,P666_140,2023-10-03 18:26:59,ZZ-JG,140.0,52.667725,-8.543667,24.076,55.022956,119374.41,10.0
452123,P666,P666_140,2023-10-03 18:27:09,ZZ-JG,140.0,52.667315,-8.543035,20.372,62.462107,119436.87,10.0
452124,P666,P666_140,2023-10-03 18:27:19,ZZ-JG,140.0,52.666957,-8.543150,12.964,40.637958,119477.51,10.0
452125,P666,P666_140,2023-10-03 18:27:29,ZZ-JG,140.0,52.666808,-8.543178,5.556,16.622808,119494.13,10.0
452126,P666,P666_140,2023-10-03 18:27:39,ZZ-JG,140.0,52.666808,-8.543178,0.000,0.000000,119494.13,10.0

In [ ]:
# Removing rows with NaN trip_id
df_selected = df_selected[~df_selected['trip_id'].isna()]

In [9]:
# Checking how many trips with CID are associated with multiple device IDs
df = df_selected.copy()
cid_device_counts = df.groupby('cid')['device_id'].nunique().reset_index(name='device_count')

# Filter cids that have more than one unique device_id
cids_multiple_devices = cid_device_counts[cid_device_counts['device_count'] > 1]

# Count how many such cids exist
num_cids_multiple_devices = cids_multiple_devices.shape[0]

print(f"Number of cids with more than one associated device_id: {num_cids_multiple_devices}")

Number of cids with more than one associated device_id: 95

In [10]:
# Creating a new idetntifier for each trip based on PID_DEVICEID_TRIPID
df_selected['timestamp'] = pd.to_datetime(df_selected['timestamp'])

df = df_selected.copy()

# Sort to ensure proper start/end detection
df = df.sort_values(by=['pid', 'device_id', 'trip_id', 'timestamp'])

# Compute start and end coordinates per trip
trip_summary = df.groupby(['pid', 'device_id', 'trip_id']).agg(
    start_lat=('latitude', 'first'),
    start_lon=('longitude', 'first'),
    end_lat=('latitude', 'last'),
    end_lon=('longitude', 'last')
).reset_index()

# Create a unique identifier string
trip_summary['trip_uid'] = trip_summary.apply(
    lambda x: f"{x.pid}_{x.device_id}_{x.trip_id}",
    axis=1
)


# Merge back to original dataset if needed
df = df.merge(trip_summary[['pid', 'device_id', 'trip_id', 'trip_uid']], 
              on=['pid', 'device_id', 'trip_id'], how='left')


df['trip_uid'].nunique()

C:\Users\manya\AppData\Local\Temp\ipykernel_36948\938272899.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_selected['timestamp'] = pd.to_datetime(df_selected['timestamp'])

4658

In [14]:
df.describe().round(3)

,timestamp,trip_id,latitude,longitude,Speed,distance,totalDistance,duration
count,451831,451831.000,451831.000,451831.000,451831.000,451831.000,451831.000,451831.000
mean,2024-01-14 04:08:32.661731328,82.429,52.670,-8.569,16.143,44.144,292127.760,110.333
min,2023-03-22 16:24:08,1.000,51.593,-10.130,0.000,0.000,0.000,0.000
25%,2023-08-10 15:52:43.500000,25.000,52.661,-8.624,11.112,20.262,59269.158,10.000
50%,2023-11-02 10:16:43,66.000,52.668,-8.576,18.500,43.172,157631.280,10.000
75%,2024-06-10 11:08:35,123.000,52.673,-8.554,22.224,61.238,293464.252,10.000
max,2025-05-09 12:54:28,370.000,53.979,-6.222,39.077,35998.506,2375595.340,4795612.000
std,NaN,70.890,0.082,0.178,7.675,110.199,429357.171,12806.048

In [16]:
# Final cleaned dataframe with trip_id nulls removed and new trip_uid added
df.to_csv('data/processed/tracker_data_preprocessed.csv', index=False)